body {
    color: rgb(29, 28, 32);
    font-size: 18px !important;
}

body,
button {
    font-family: 'Graphik', Arial, sans-serif !important;
}

h1, h2, h3, h4 {
    font-weight: 600 !important;
}

/*================
  HEADER SECTION
================*/

.header__wrapper {
	padding: 1.5rem 4.5rem;
    display: flex;
    align-items: center;
	justify-content: space-between;
	background: white;
}

.header__cta {
    display: flex;
    position: relative;
    cursor: pointer;
}

.header__cta_icon {
	position: absolute;
	top: -20%;
	left: -22%;
	width: 4.5rem;
	height: 4.5rem;
	border: 0.6rem rgb(231, 51, 43) solid;
	border-radius: 50%;
	background: rgb(231, 51, 43);
}

.header__cta p {
	padding: 0.75rem 2.5rem;
	border-radius: 2.5rem;
    font-weight: 600;
	color: rgb(255, 255, 255);
	background: rgb(231, 51, 43);
}

.main__nav_wrapper {
    display: flex;
    justify-content: space-between;
}

.main__nav_wrapper li {
    margin: 0 1rem;
}

.main__nav {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.main__nav a {
    color: #585757 !important;
}

/*================
  PAGE TEASER SECTION
================*/
.page__teaser {
    position: relative;
    text-align: center;
}

.page__teaser h1 {
	font-size: 3rem;
	padding: 0 24rem;
}

.page__teaser p {
	padding: 5rem 0 0;
}

.page__teaser p:first-child {
    color: rgb(231, 51, 43);
}

.last-of-type p{
    color: rgb(29, 28, 32) !important;
	padding: 2.5rem 31rem;
}

.teaser__line {
	width: 11rem;
    position: absolute;
    top: 54%;
    left: 52%;
}

.teaser__lady {
	width: 24rem;
    position: absolute;
    top: 32%;
    left: 6.5%;
    z-index: -1;
}

.teaser__guy {
	width: 22rem;
    position: absolute;
    top: 28%;
    right: 3%;
    z-index: -1;
}

.guy__icon {
    width: 3.5rem;
    position: absolute;
    bottom: -9%;
    left: 32%;
    z-index: -1;
}

.cta__btn {
	padding: 0.75rem 2.5rem;
    border: none;
	border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
	color: rgb(255, 255, 255);
	background: rgb(231, 51, 43);
}

.teaser__twist {
	width: 5rem;
	position: absolute;
	bottom: -24.5%;
    left: 53%;
}

/*================
  SECTION 2
================*/

.section2 {
    padding: 2.5rem 4.5rem 2.5rem;
    margin-top: 7rem;
}

.section2__wrapper {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.01rem rgba(81, 73, 73, 0.3) solid;
    border-bottom: 0.01rem rgba(81, 73, 73, 0.3) solid;
}

.section2 p:first-child {
    padding: 0 6rem 0 0;
    width: 82%;
    font-weight: 600;
}

.section2 p:last-child {
    text-align: right;
    width: 82%;
    padding-left: 8rem;
}

.section2 p:first-child,
.section2 p:last-child {
    font-size: 1.5rem;
}

.sponsor__logo {
    width: 32rem;
}

.read__link a {
    color: rgb(53, 165, 111);
    text-decoration: underline;
}

/*================
  SECTION 3
================*/

.section3 {
	margin-top: 1.5rem;
    padding: 4.5rem;
    position: relative;
    background: url('../img/page2/Star.jpg');
    background-repeat: no-repeat;
    background-size: 12rem;
    background-position: 52rem 6rem;
}

.section3__twist {
	width: 6rem;
	position: absolute;
    top: 0;
    left: 28%;
}

.intro__tease {
    font-size: 1.5rem;
    color: rgb(231, 51, 43);
}

.intro__heading {
    width: 56%;
    font-size: 2.5rem;
    line-height: 1.25;
}

.feature__cards {
    margin-top: 1rem;
    padding-top: 2.5rem;
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(3, 1fr);
}

.feature__item {
    padding: 4.8rem 3rem 5.8rem;
    position: relative;
    border-radius: 1.25rem;
    background: rgb(255, 255, 255);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0px 0.75rem 1.25rem rgba(43, 37, 36, 0.1);
}

.feature__item:hover {
    transform: translateY(-3.5%);
}

.card1 {
    color: rgb(255, 255, 255);
    background: rgb(231, 51, 43);
}

.feature__item img {
	position: absolute;
	top: 0;
    right: 0;
	width: 7.25rem;
}

.feature__item h1 {
    font-size: 3.8rem;
}

.feature__item h3 {
    margin: 1.75rem 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.section3 p {
    position: relative;
}

/*================
  SECTION 4
================*/

.section4 {
    display: flex;
    position: relative;
    padding: 3rem 4.5rem 12rem 6rem;
    color: rgb(255, 255, 255);
    background: url('../img/page2/rect-dot.svg');
    background-repeat: no-repeat;
    background-position: 3rem 45rem;
    background-size: 8rem;
}

.section4::after {
	content: "";
	display: inline-block;
    width: 100%;
	height: 100%;
	background: rgb(231, 51, 43);
	position: absolute;
	top: 0;
	left: 0;
    z-index: -3;
}

.section4__twist {
    width: 5rem;
    position: absolute;
    top: 6%;
    left: 25%;
}

.section4 h1 {
    font-size: 2.5rem;
    padding-right: 4rem;
}

/* .section4__col1 {
}*/

.section4 p:first-of-type {
    padding: 4rem 0 0.25rem;
}

.section4 p {
    padding: 3rem 10rem 0 0;
}

.section4__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.section4__cta {
    margin: 2rem 0;
	padding: 0.75rem 2rem;
    border: none;
	border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
	color: rgb(231, 51, 43);
    background: rgb(255, 255, 255);
}

.alt__btns {
	padding: 0 0 0 5rem;
	width: 14rem;
    height: 4.5rem;
    position: relative;
	display: flex;
	align-items: center;
	border: 2px white solid;
	border-radius: 9rem;
    transition: padding  0.4s ease-in-out;
}

.alt__btns:hover {
	padding: 0 2.5rem 0 2.5rem;
	border: 2px white solid;
	border-radius: 9rem;
}

.alt__btns:hover img {
	left: 72%;
}

.alt__btns img {
    width: 3.25rem;
    position: absolute;
    top: 12%;
    left: 4%;
    transition: all 0.4s ease-in-out;
}

.section4__lady {
	width: 125rem;
    /* width: 165%; */
}

/*================
  PROGRAMS SECTION
================*/

.program__area {
    padding: 2rem 4.5rem;
    position: relative;
}

.program__title {
    font-size: 1.5rem;
    color: rgb(231, 51, 43);
}

.program__heading {
    font-size: 2.5rem;
    line-height: 1.25;
    width: 45%;
    padding-bottom: 3.5rem;
}

.program__twist {
	width: 10rem;
    position: absolute;
    top: 13%;
    left: 44%;
}

.program__wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.program__card {
    padding: 3rem;
    position: relative;
    border-radius: 1.25rem;
    background: rgb(255, 255, 255);
    box-shadow: 0 0.5rem 1.2rem rgba(43, 37, 36, 0.1);
}

.track__icons {
    padding: 1.5rem 0;
    display: flex;
    gap: 1rem;
}

.track__icons img {
    width: 2.25rem;
}

.area2 img,
.track__icons img:last-child {
    width: 3rem;
}

.area2 img:first-child {
    width: 4rem;
}

.area3 img:last-child {
    width: 5rem;
}

.area4 img,
.area6 img {
    width: 5rem;
}

.area4 img:last-child {
    width: 3rem;
}

.area5 img:nth-child(3),
.area5 img:last-child {
    width: 3rem;
}

.area6 img:last-child {
    width: 4rem;
}

.program__card p {
    font-size: 1rem;
}

.program__cta {
    text-align: center;
    padding: 5rem 0;
}

.program__btn {
	padding: 0.75rem 2rem;
    border: none;
	border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
	color: rgb(255, 255, 255);
	background: rgb(231, 51, 43);
}

/*================
  SECTION 5
================*/


/*================
  SECTION 6
================*/

.section6 {
    padding: 8rem 4.5rem 2rem;
    position: relative;
    text-align: center;
    background: url('../img/page2/triangle.svg'), url('../img/page2/circle.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 8.5rem, 11rem;
    background-position: 3rem 33rem, 68rem 59rem;
    z-index: -6;
}

.section6__star {
    width: 8rem;
    position: absolute;
    top: 5%;
    right: 12%;
}

.section6__twist {
    width: 9rem;
    position: absolute;
    top: 0;
    left: 18%;
}

.section6__title {
    font-size: 1.5rem;
    color: rgb(231, 51, 43);
}

.section6 h1 {
    font-size: 2.5rem;
}

.section6 p {
    margin: 1rem 0 0;
}

.course__column {
    width: 92%;
    margin: 0 auto;
    padding: 3rem 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.25rem;
}

.structure__tab {
    padding: 3rem 3rem 4rem;
    position: relative;
    text-align: left;
    border: 0.0125rem rgb(255, 255, 255) solid;
    border-radius: 4rem;
    color: rgb(255, 255, 255);
    box-shadow: 0 0.5rem 1.2rem rgba(43, 37, 36, 0.1);
}

.structure__tab::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    border-radius: 4rem;
    background: rgb(29, 28, 32);
}

.structure__tab a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.structure__tab h4 {
    font-size: 1.125rem;
}

.structure__tab ul {
    list-style: disc;
    margin-bottom: 1.5rem;
    padding: 0 4rem 0 0;
    font-size: 1rem;
    text-align: left;
}

.structure__tab li {
    position: relative;
}

.structure__tab p {
    margin: 1rem 0;
}

.structure__tab img {
    width: 1rem;
    cursor: pointer;
}

.course__col1 {
    background: url('../img/page2/hour.png');
    background-repeat: no-repeat;
    background-size: 7rem;
    background-position: 21rem 30rem;
}

.course__col2 {
    background: url('../img/page2/time.png');
    background-repeat: no-repeat;
    background-size: 10rem;
    background-position: 18rem 30rem;
}

/*================
  SECTION 7
================*/

.section7 {
    padding-top: 11rem;
    background: url('../img/page2/circle.png');
    background-repeat: no-repeat;
    background-size: 8rem;
    background-position: 4.5rem 3.5rem;
}

.section7__wrapper {
    margin: 0 4.5rem;
    padding: 4rem 4rem 5rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    background: url('../img/page2/round.svg'), url('../img/page2/arc-trans2.svg'), url('../img/page2/arc-trans1.svg'), url('../img/page2/circle-alt.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 10rem, 10rem, 7rem, 10rem;
    background-position: 9rem 4rem, top right, bottom left, bottom right;
}

.section7__wrapper::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -7;
    border-radius: 2rem;
    background: rgb(231, 51, 43);
}

.section7__heading {
    font-size: 3.5rem;
    width: 50%;
    margin: 0.75rem auto;
}

.section7__btn {
    margin: 2rem 0;
	padding: 0.75rem 2rem;
    border: none;
	border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
	color: rgb(231, 51, 43);
    background: rgb(255, 255, 255);
}

/*================
  FOOTER SECTION
================*/

.page__footer {
    padding: 5.5rem 4.5rem 0;
    font-size: 1rem;
}

.page__footer a {
    color: rgb(29, 28, 32);
}

.page__footer small {
    font-size: 1rem;
}

.footer__row1 {
    display: flex;
    justify-content: space-between;
}

.social__link {
    display: flex;
    gap: 0.5rem;
}

.social__link img {
    width: 2.25rem;
}

.footer__row2 {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}